@import "icomoon_fonts";


@charset "utf-8";


@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";


body{
  margin: 0;
}

.header {
  .logo  {
    height: 0;
    padding: 0; /* remove any pre-existing padding, just in case */
    padding-bottom: 10.1%; /* for a 4:3 aspect ratio */
    background-image: url(foo.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/logo_767px.png");
  }

  .menu {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    @include transition(max-height 0.5s);
    &.menuOpen {
      max-height: 1000px;
      @include transition(max-height 0.5s);
    }
  ul {
    li {
      font-family: 'Abel', sans-serif;
      font-variant: small-caps;
      text-transform: uppercase;
  
      display: block;
      width: 100%;
      background: #000;
      padding: 0.5em;
      &:hover, &:focus {
        background: #999;
      }
      a {
        color: #fff;
        padding: 10px 0;
        width: 100%;
        }
      }
    }
  }
  .menuIcon {
    font-family: 'Abel', sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    height: 1.3em;
    padding-bottom: 1.5em;
    background-color: black;
    &:hover, &:focus {
      background: #999;
    }
    
    a { 
      color: white;
      &:after {
        position: relative;
        top: 0.1em;
        left: 0.2em;
        font-family: 'icomoon';
      	speak: none;
      	font-style: normal;
      	font-weight: normal;
      	font-variant: normal;
      	text-transform: none;
        // line-height: 1.3em;
        font-size:0.8em;
      	content: "\e600";
      }
    }
  }
}


@media only screen and (min-width: 767px) {

  .header {
    .menu {
      max-height: none;
      ul {
        padding:0;
        margin:0;
        li {
          display: inline;
          list-style: none;
        }
      }
    }
    .menuIcon {
      display: none;
      background: #000;
      width: 100%;
      text-align: center;
      &:hover {
        background: #999;
      }
      a {
        width: 100%;
        display: inline-block;
        color: #fff;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}
